# dependencies
node_modules/
.pnp
.pnp.js

# production
.next/
out/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel
